[Unit]
Description=video-sync service
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=${dir}
Type=simple
Restart=always
RestartSec=1
User=${user}
ExecStart=/usr/bin/node ${dir}/index.js

[Install]
WantedBy=multi-user.target
