/* GUI CSS */
html {
  width:100%;
  height:100%;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width:inherit;
  height:inherit;
}

.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width:inherit;
  height:inherit;
}

.panel {
  position: relative;
  float: right;
  background-color: white;
  width: 24%;
}

.panel-tab {
  position: relative;
  background-color: grey;
}

.media {
  position: relative;
  float:left;
  min-width:25%;
  background-color: black;
  overflow: hidden;
}

.path {
  height:5%;
  width:100%;
  background-color: grey;
}

.path-input {
  float:left;
  text-align: left;
  width:75%;
  margin:2.5px;
  padding:.5%;
  background-color: inherit;
}

.path-dropdown {
  position:fixed;
  width:75%;
  background-color: white;
  z-index: 10;
}

.path-notification {
  float:right;
  text-align: right;
  width:10%;
  padding: .5%;
  border:0px;
  margin-left: auto;
  background-color: inherit;
}

.video {
  position: relative;
  float:left;
  width:100%;
  height:90%;
  background-color: black;
}

.video-element {
  width:100%;
  height:100%;
}

.control {
  position: relative;
  height:5%;
  width:100%;
  background-color: grey;
}

.control-options {
  position:fixed;
  margin: 5px;
  background-color: white;
}

.control-time {
  position:relative;
  float:left;
  text-align: center;
  width:90%;
  margin:2.5px;
}

.control-time-spacer {
  position:relative;
  width:5px;
  background-color: inherit;
  margin: 0px;
  padding: 0px;
  border:0px;
}

.control-time-display {
  position:relative;
  float:left;
  text-align: center;
  background-color: inherit;
  width:6%;
  margin: 0px;
  padding: 0px;
  border:0px;
}

.control-time-slider {
  position:relative;
  float:left;
  width: 87%;
}

.control-volume {
  position:fixed;
  margin: 5px;
  background-color: white;
}

.control-volume-slider {
  -webkit-appearance: slider-vertical;
  width: 20px;
  height: 100px;
}

.side {
  position:fixed;
  width:2.5%;
  left:97.5%;
  top:5%;
  background: blue;
  z-index: 10;
}

.login {
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, .9);
  z-index: 11;
}

.login-form {
  position:relative;
  top:25%;
  left:25%;
  width: 50%;
  height: 25%;
  background:rgba(255, 255, 255, 1);
  z-index: 12;
}

.flex-icon {
  float:left;
  text-align: center;
  margin:6.5px;
}

.flex-v {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center | space-between | space-around;
}

.flex-h {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center | space-between | space-around;
}

/* fullscreen */
.control-bar-fullscreen {
  position: fixed;
  align-items: center;
  justify-content: center;
  height:5vh;
  width:100%;
  margin: auto;
  overflow-x: hidden;
  background-color: black;
  text-align: center;
  bottom: 0%;
  z-index: 2147483648
}

/* CSS Animations */
.slide-in {
  right: -100%;
  width: 0%;
}

.slide-in.show {
  left: 0%;
  width: 25%;
  border-left:4px solid grey;
}

.fill-in {
  width:75%;
}

.fill-in.show {
  width:100%;
}

.fade {
  opacity: 0;
  transition: opacity .50s ease;
}

.fade.show {
  opacity: 1.0;
}

.overlay {
  display:none;
}

.overlay.show {
  display:block;
}

/* Misc */
::-webkit-media-controls {
  display:none !important;
}

a {
  color: white;
  text-decoration:none
}

::cue {
  background: transparent;
}
