/* GUI CSS */
html {
  width:100%;
  height:100%;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width:inherit;
  height:inherit;
  color:white;
  overflow:hidden;
}

.container {
  display: flex;
  flex-direction: row;
  width:inherit;
  height:inherit;
}

.panel {
  position: relative;
  overflow-x: hidden;
  float: right;
  width: 25%;
}

.panel-header {
  text-align:center;
  font-size:32px;
  font-style:normal;
}

.panel-sub-panel {
  min-height:25%;
  max-height:75%;
  overflow-x: hidden;
  overflow-y: auto;
}

.media {
  position:relative;
  float:left;
  min-width:25%;
}

.path {
  position:relative;
  height:5%;
  width:100%;
  z-index:20;
}

.path-input {
  float:left;
  text-align:left;
  width:60%;
  padding:.5%;
}

.path-dropdown {
  position:fixed;
  width:75%;
  padding:.25%;
}

.path-notification {
  text-align: left;
  padding:.25%;
  margin-left:auto;
  margin-right:auto;
}

.path-notification:empty {
  padding:0px;
  margin-left:auto;
  margin-right:auto;
}

.video {
  position:relative;
  float:left;
  width:100%;
  height:90%;
  z-index:1;
}

.video-element {
  width:100%;
  height:100%;
  z-index:1;
}

.control {
  position:relative;
  height:4.5%;
  width:98%;
  z-index:20;
}

.control-full {
  position: fixed;
  width:98%;
  left:1%;
  bottom: 0%;
  height:4.5%;
  z-index: 2147483648;
}

.control-options {
  position:fixed;
  margin: .25%;
  padding: .25%;
}

.control-sync {
  position: fixed;
  min-width: 100px;
  margin: .25%;
  padding: .25%;
}

.control-time {
  float:left;
  text-align: center;
  width:90%;
  padding:.25%;
  margin-left:auto;
  margin-right:auto;
}

.control-time-display {
  text-align: center;
  float:left;
  width:60px;
}

.control-time-slider {
  float:left;
  width: 100%;
}

.control-volume {
  position:fixed;
  margin:.25%;
  padding:.25%;
}

.control-volume-slider {
  -webkit-appearance: slider-vertical;
  width: 20px;
  height: 100px;
}

.side {
  width:40px;
  padding-bottom: 2.5px;
  z-index:20;
}

.login {
  position:absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, .9);
  z-index: 30;
}

.login-overlay {
  position:relative;
  top:25%;
  background:rgba(255, 255, 255, 1);
}

.confirm {
  position:absolute;
  top:25%;
  left:32%;
  height:10%;
  width:25%;
  padding:.5%;
  z-index: 20;
}

.confirm-form {
  position:relative;
  height:100%;
  width:100%;
}

/* Flex Elements */
.flex-icon {
  text-align: center;
  padding-left:2.5px;
  padding-right:2.5px;
  padding-top:5px;
}

.flex-button {
  background-color: black;
  color: white;
  border-radius: 1em;
}

.flex-element {
  width:100%;
  padding-top:.5%;
  padding-bottom:.5%;
  border-radius: .5em;
}

.flex-element-part {
  width:60%;
  padding-top:.5%;
  padding-bottom:.5%;
  border-radius: .5em;
}

.flex-right {
  margin-left:auto;
  float:right;
  align-items: right;
}

.flex-center-h {
  margin-left: auto;
  margin-right: auto;
}

.flex-center-v {
  justify-content: center;
  align-items: center;
}

.flex-bottom {
  margin-top:auto;
}

.flex-top {
  margin-bottom:auto;
}

.flex-v {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
}

.flex-h {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

/* Styling */
.icon {
  font-size: 34px;
  font-style: normal;
}

.icon.show {
  font-size: 34px;
  font-style: normal;
}

.icon-min {
  font-size: 20px;
  font-style: normal;
}

.icon-min.show {
  font-size: 20px;
  font-style: normal;
}

.form {
  position:relative;
  border:none
}

.primary-color {
  background-color:rgba(0, 0, 0, 0.75);
}

.alternate-color:nth-child(even) {
  color:black;
  background-color:white;
}

.clear-spacers {
  padding:0px;
  margin:0px;
  border:0px;
}

.padding {
  padding:1%;
}

.force-text {
  word-break:break-all;
  word-wrap: break-word;
}

.input-style {
  color:white;
  background-color: black;
  border-radius: 1em;
  text-align: center;
}

.input-invert {
  color:black;
  background-color: white;
  text-decoration: none;
}

.rounded-corners {
  border-radius: 1em;
}

.rounded-corners-bottom-left {
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-bottom-left-radius: 1em;
  border-color: white;
}

.borders {
  border: solid 2px;
  border-radius: 1em;
  border-color: white;
}

.border-left {
  border-left: solid 2px;
  border-color: white;
}

/* CSS Animations */
.slide-in {
  right: -100%;
  width: 0%;
}

.slide-in.show {
  left: 0%;
  width: 25%;
  border-left:4px solid white;
}

.fill-in {
  width:75%;
}

.fill-in.show {
  width:100%;
}

.fade {
  opacity: 0;
  transition: opacity .50s ease;
}

.fade.show {
  opacity: .75;
}

.toggle {
  display:none;
}

.toggle.show {
  display:inherit;
}

.is-admin {
  opacity: 0;
  z-index: -1;
}

.is-admin.show {
  opacity: 1;
  z-index: 20;
}

.invert {
  filter: invert(0);
}

.invert.show {
  filter: invert(100);
}


/* Elements */
::-webkit-media-controls {
  display:none !important;
}

a {
  color:white;
  text-decoration: none;
}

input, select {
  color:white;
  border: none;
  border-bottom: solid 1px;
  background-color: black;
  text-decoration: none;
  border-radius: 1em;
  padding:1%;
}

textarea {
  color:white;
  background-color: black;
  text-decoration: none;
  padding:1%;
  resize: none;
}

::cue {
  background: transparent;
}

/* Tables */
table {
  display:flex;
  overflow-y:auto;
  overflow-x: hidden;
  table-layout:fixed;
  height:300px;
}

tbody {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  border-collapse: collapse;
}

table tr td {
  word-break:break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  float: left;
}

table tr {
  width:100%;
}

table tr td:nth-child(odd) {
  float: left;
}

table tr td:nth-child(even) {
  float: right;
}

table tr:nth-child(even) {
  color:black;
  background-color:white;
  border-radius: .5em;
}

textarea {
  resize: none;
}
