.controls {
  width: 80%;
  margin: auto;
  position: relative;
  overflow: auto;
  z-index: 3
}

.media {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1
}

.element {
  width: 2%;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  z-index: 3
}

.icon {
  margin: auto;
  display: inline;
  z-index: 3
}

.seek {
  width: 80%;
  position: relative;
  z-index: 3
}

.location {
  width: 90%;
  top: 0%;
  margin: auto;
  overflow: auto;
  z-index: 3
}

.side {
  top: 50%;
  float: left;
  position: absolute;
  overflow: auto;
  z-index: 3
}

.video {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
  display: block;
  float: left;
  background-color: #000000;
  z-index: 2
}

.video_element {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2
}

.messenger {
  width: 20%;
  height: 100%;
  float: right;
  position: relative;
  z-index: 2
}

#sessionOverlay {
  display: none
}

#encodeOverlay {
  display: none
}

#smtpOverlay {
  display: none
}
