[Unit]
Description=encode service
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/opt/video-sync/repo
Type=simple
User=root
Group=root
ExecStart=/usr/bin/node encode.js -c /etc/video-sync/config.yml -t default

[Install]
WantedBy=multi-user.target
