[Unit]
Description=video-sync service
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/opt/video-sync/repo
Type=simple
User=root
Group=root
Restart=always
RestartSec=1
ExecStart=/usr/bin/node index.js /etc/video-sync/config.yml

[Install]
WantedBy=multi-user.target
